# Adapter: default (Home Assistant; alias homeassistant, haos) or homewizard
ADAPTER=default
TZ=Europe/Amsterdam

# Home Assistant:
HOMEASSISTANT_URL=http://homeassistant.local:8123
HOMEASSISTANT_TOKEN=
AUTODISCOVER=true

# HomeWizard P1 Meter (ADAPTER=homewizard). Not supported yet, but HOMEWIZARD_TOKEN will attempt to use the /v2/ API.
# HOMEWIZARD_HOST=192.168.1.50

# Optional: set prices for gas and electricity. If not set, the values from Home Assistant will be used.
# GAS_PRICE=1.35
# ELECTRICITY_PRICE=0.25
# ELECTRICITY_COMPENSATION=0.25

# Optional (Home Assistant): set entities to override or replace autodiscovery.
# POWER=sensor.p1_meter_power
# ENERGY_IMPORT=sensor.p1_meter_energy_import
# ENERGY_EXPORT=sensor.p1_meter_energy_export
# SOLAR=sensor.solar_energy_production
# SOLAR_POWER=sensor.solar_power
# GAS=sensor.gas_meter_gas
# WATER=sensor.watermeter_total_water
# TEMPERATURE=sensor.outdoor_temperature
# BATTERY=sensor.marstek_venus_e_4_0_state_of_charge
# BATTERY_POWER=sensor.marstek_venus_e_4_0_ac_power

# Wheels and bars: power, water, gas, grid, solar, self_consumption, self_sufficiency, gas_cost, electricity_cost, temperature, battery
# WHEEL1=power
# WHEEL2=water
# WHEEL3=gas
# BAR1=gas_cost
# BAR2=solar
# BAR3=temperature
# BAR4=battery
