# Required variables:
HA_URL=http://homeassistant.local:8123
HA_TOKEN=
TZ=Europe/Amsterdam
AUTODISCOVER=true

# Optional: set entities to override or replace autodiscovery.
# POWER=sensor.p1_meter_power
# ENERGY_IMPORT=sensor.p1_meter_energy_import
# ENERGY_EXPORT=sensor.p1_meter_energy_export
# SOLAR=sensor.solar_energy_production
# GAS=sensor.gas_meter_gas
# WATER=sensor.watermeter_total_water
# TEMPERATURE=sensor.outdoor_temperature
# BATTERY=sensor.marstek_venus_e_4_0_state_of_charge
# GAS_PRICE=1.35

# Wheels: power, water, gas, grid, solar, self_consumption
# WHEEL1=power
# WHEEL2=water
# WHEEL3=gas
